<% provide(:title, 'Home') %>
<title>TradeSpring | <%= yield(:title) %></title>

<div id="purchases">
<%= form_tag purchases_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
  <ol class="purchases">
    <%= render @purchases unless @purchases.nil? %>
  </ol>
</div>

<div id="sales">
<%= form_tag sales_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
  <ol class="sales">
    <%= render @sales unless @sales.nil? %>
  </ol>
</div>



